.slides {
    position: relative;
    height: 300px;
    padding: 10px;
    margin: 110px;
    list-style-type: none;
}
.slides img{
    width: 600px; 
    height: 400px;
    margin-left: 8%;
}
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
 
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing{
    opacity: 1;
    z-index: 2;
}

#previous{
    float: left;
    padding: 10px;
}
#next{
    float: right;
    padding: 10px;
    margin-right: 10%;
}
.controls{
    margin-top: 40%;
}